h1 {
  text-align: center;
  font-size: 18pt;
  color: #00009;
  margin-bottom: 5px;
  text-decoration: underline;
}

h3 {
  tex-align: center;
  font-size: 12pt
  color: #00009;
  margin-bottom: 5px;
  text-decoration: underline;
}

body{
  background-image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjrjZL30YLjAhWiY98KHaNsDHEQjRx6BAgBEAU&url=https%3A%2F%2Funsplash.com%2Fsearch%2Fphotos%2Fbackground&psig=AOvVaw3aAAF1xPRsk6vvdQYG-Hb6&ust=1561483617532966");
  background-position: center;
  background-size: cover;
}
